# Code owners for key areas. Adjust usernames and teams as appropriate.
# Format: <path> <owner> <owner>

/docs/ @jonatasgrosman
/findpapers/searchers/ @jonatasgrosman
/findpapers/tools/ @jonatasgrosman
/findpapers/models/ @jonatasgrosman
/tests/ @jonatasgrosman
/.github/workflows/ @jonatasgrosman
