name: 'Sync Labels'

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync repository labels
        uses: repo-sync/labels@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          config_path: .github/labels.yml
