name: 'Sync Labels'

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches:
      - develop
      - main
    paths:
      - .github/labels-config.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manifest: .github/labels-config.yml
