name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches:
      - develop
      - main


jobs:
  semantic-pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            perf
            docs
            test
            chore
