name: "Pull Request Labeler"

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4

      - name: Label pull request
        uses: actions/labeler@v6
        with:
          configuration-path: .github/pr_labeler-config.yml
          repo-token: ${{ secrets.GITHUB_TOKEN }}
