name: Release Drafter
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches:
      - develop
      - main

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-name: release-drafter-config.yml
